.button {
  padding: 5px;
}

.card {
  background-color: #ccd6f6;
  width: 30rem;
}

.title {
  color: #ccd6f6;
}

.card2 {
  background-color: #ccd6f6;
  width: 30rem;
}

@media only screen and (max-width: 600px) {

  .card {
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
  }

  .card2 {
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
  }
}