h2 {
  color: #21fdd1;
}

h1 {
  font-size: 100px;
  color: #96e2ec;
}

.opening {
  margin-top: 150px;
}

.empty {
  margin-top: 300px;
}

.about {
  background-color: #0E3B43;
}

.title {
  font-size: 75px;
}

.picture {
  /* max-width: 100px;
  max-height: 100px; */
}

@media only screen and (max-width: 600px) {
.picture {
  max-width: 100px;
  max-height: 100px;
  }

}