h2 {
  color: #21fdd1;
}

h3 {
  color: #21fdd1;
}

.para {
  font-size: 25px;
}

li {
  color: #21fdd1;
  font-size: 25px;
}

h1 {
  font-size: 100px;
  color: #ccd6f6;
}

.line {
  color: #ccd6f6;
}

.container {
  background-color: #0E3B43;
}

.opening {
  margin-top: 150px;
}

.empty {
  margin-top: 300px;
}

.about {
  background-color: #0E3B43;
}

.title {
  font-size: 75px;
}

.picture {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s;
  box-shadow: 8px 8px;
}

.picture:hover {
  transform: scale(1.03, 1.03);
}

.descript {
  color: #a8b2d1;
}

.aboutMe {
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 30px;
  }

  h1 {
    font-size: 50px;
  }

  .descript {
    font-size: 30px;
  }

  .picture {
    max-width: 200%;
    max-height: 200%;
  }

  .para {
    font-size: 15px;
  }
}