footer {
  justify-content: center;
}

footer :hover {
  opacity: 1;
  transform: scale(1.03);
}

footer a {
  color: var(--light);
  opacity: .5;
  margin: 10px 10px;
  transition: all .3s ease-in-out;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  text-align: center;
  color: #21fdd1;
  background-color: #0E3B43;
}