.title3 {
  text-align: center;
  color: #21fdd1;
}

.miniTitle {
  text-align: center;
}

.form1 {
  text-align: center;
}

.buttonBox {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  align-content: center;
  justify-content: center;
  display: flex;
}

.contactInfo {
  text-align: center;
  color: #21fdd1;
}

.contactBox {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .buttonBox {
    margin-left: auto;
    margin-right: auto;
  }

  .contactBox {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}